<!-- email_template.html -->
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "Course Subscribtion" %}</title>
</head>
<body>
    <h1>{% blocktrans with name=user.first_name %} Hello {{ name }}, {% endblocktrans %}</h1>
    <p>{% trans " Your Subscribtion on e-learning has been processed successfully !!"  %}</p>
    <p>{% blocktrans with course=course.title  cycle=cycle.NumberCycle %}You subscribe on {{ course }} on its {{ cycle  }} Cycle .{% endblocktrans %}</p>
    <p>{% blocktrans with start=cycle.StartDate end=cycle.EndDate %}It started from {{ start }} to {{ end }} .{% endblocktrans %} </p>
    <p>{% blocktrans with trainer=course.trainer %}With trainer : {{ trainer }}.{% endblocktrans %}</p>
</body>
</html>